<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/back/public/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha384-ezjw8+HXLAApLxI5r7paX/D5Tq1WgV9W76WW/J3t/6Iqs1SjVd5A8zh9bMEIHpFS" crossorigin="anonymous">
  </head>
  <body>
    {{{body}}}

    
  </body>
</html>
